<div id="wrapper">
  <div id="map"></div>
  <div id="filter-wrapper">
      <div class="filter-element">
        <mat-tab-group>
          <mat-tab label="Layer">
            <mat-expansion-panel hideToggle [expanded] = "true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Erreichbarkeiten
                </mat-panel-title>
                <mat-panel-description>
                  Anzeige der Erreichbarkeitslayer
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      ÖPNV
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <mat-checkbox [checked] = "opnvOber.isActivated" (change) = "toggleOpnvOber()">Oberzentrum</mat-checkbox><br>
                    <mat-checkbox [checked] = "opnvMittel.isActivated" (change) = "toggleOpnvMittel()">Mittelzentrum</mat-checkbox><br>
                    <mat-checkbox [checked] = "opnvGrund.isActivated" (change) = "toggleOpnvGrund()">Grundzentrum</mat-checkbox><br>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      motorisierter Individualverkehr
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-checkbox [checked] = "pkwOber.isActivated" (change) = "togglePkwOber()">Oberzentrum</mat-checkbox><br>
                  <mat-checkbox [checked] = "pkwMittel.isActivated" (change) = "togglePkwMittel()">Mittelzentrum</mat-checkbox><br>
                  <mat-checkbox [checked] = "pkwGrund.isActivated"(change) = "togglePkwGrund()">Grundzentrum</mat-checkbox><br>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Fahrrad
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-checkbox [checked] = "frOber.isActivated" (change) = "toggleFrOber()">Oberzentrum</mat-checkbox><br>
                  <mat-checkbox [checked] = "frMittel.isActivated" (change) = "toggleFrMittel()">Mittelzentrum</mat-checkbox><br>
                  <mat-checkbox [checked] = "frGrund.isActivated" (change) = "toggleFrGrund()">Grundzentrum</mat-checkbox><br>
                </mat-expansion-panel>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle [expanded] = "true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Zentrale Orte
                </mat-panel-title>
                <mat-panel-description>
                  Anzeige der zentralen Orte
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-checkbox (change) = "toggleOberzentrenLayer($event.checked)">Oberzentren</mat-checkbox><br>
              <mat-checkbox (change) = "toggleMittelzentrenLayer($event.checked)">Mittelzentren</mat-checkbox><br>
              <mat-checkbox (change) = "toggleGrundzentrenLayer($event.checked)">Grundzentren</mat-checkbox><br>
            </mat-expansion-panel>
          </mat-tab>
          <mat-tab label = "Analyse">
            <h3 mat-h3>Score-Berechnung</h3>
            <h4 mat-h4>1. Gewichtung der Mobilitätsarten</h4>
            <form [formGroup] = "ampFG">
              <p>PKW:</p>
              <mat-slider formControlName="pkwWeight" color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"></mat-slider>
              <p>ÖPNV:</p>
              <mat-slider formControlName="opnvWeight" color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"></mat-slider>
              <p>Fahrrad:</p>
              <mat-slider formControlName="bikeWeight" color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"></mat-slider>
              <br>
              <div *ngIf="scoreCounter === 1">
              <h4 mat-h4>2. Minimal- und Maximalzeiten</h4>
                <div *ngIf="ampFG.controls.pkwWeight.value > 0">
                  <p><b>PKW</b></p>
                  <mat-form-field>
                    <input matInput type="text" formControlName="pkwMinOber" placeholder="Oberzentrum - ideale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="pkwMaxOber" placeholder="Oberzentrum - maximale Zeit">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput type="text" formControlName="pkwMinMittel" placeholder="Mittelzentrum - ideale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="pkwMaxMittel" placeholder="Mittelzentrum - maximale Zeit">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput type="text" formControlName="pkwMinGrund" placeholder="Grundzentrum - minimale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="pkwMaxGrund" placeholder="Grundzentrum - maximale Zeit">
                  </mat-form-field>
                </div>
                <div *ngIf="ampFG.controls.opnvWeight.value > 0">
                  <p><b>ÖPNV</b></p>
                  <mat-form-field>
                    <input matInput type="text" formControlName="opnvMinOber" placeholder="Oberzentrum - ideale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="opnvMaxOber" placeholder="Oberzentrum - maximale Zeit">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput type="text" formControlName="opnvMinMittel" placeholder="Mittelzentrum - ideale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="opnvMaxMittel" placeholder="Mittelzentrum - maximale Zeit">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput type="text" formControlName="opnvMinGrund" placeholder="Grundzentrum - minimale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="opnvMaxGrund" placeholder="Grundzentrum - maximale Zeit">
                  </mat-form-field>
                </div>
                <div *ngIf="ampFG.controls.bikeWeight.value > 0">
                  <p><b>ÖPNV</b></p>
                  <mat-form-field>
                    <input matInput type="text" formControlName="bikeMinOber" placeholder="Oberzentrum - ideale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="bikeMaxOber" placeholder="Oberzentrum - maximale Zeit">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput type="text" formControlName="bikeMinMittel" placeholder="Mittelzentrum - ideale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="bikeMaxMittel" placeholder="Mittelzentrum - maximale Zeit">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput type="text" formControlName="bikeMinGrund" placeholder="Grundzentrum - minimale Zeit">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" formControlName="bikeMaxGrund" placeholder="Grundzentrum - maximale Zeit">
                  </mat-form-field>
                </div>
                <br>
              </div>
              <button class="margin" *ngIf="scoreCounter < 1" mat-flat-button color="primary" (click)="next()">Weiter</button>
              <button class="margin" *ngIf="scoreCounter === 1" mat-flat-button color="primary" (click)="calculateScore()">Score berechnen</button>
            </form>
          </mat-tab>
          <mat-tab label="Erklärung">
            <h3 mat-h3>Ampel-Score</h3>
            <p align = "justify">Der Ampel-Score wird für jede Gemeinde berechnet und gibt an, wie gut die nächsten Zentren mit der angegebenen Mobilitätsart erreichbar sind.</p>
            <p><b>maximale Dauer:</b></p>
            <p>Die maximale Dauer gibt an, wie lang es dauern darf, um von einem bewohnten Gebiet zum nächsten Zentrum zu gelangen. Überschreiten Gebiete diese Dauer, gelten ihre Erreichbarkeiten als nicht ausreichend.</p>
            <p><b>obere Grenze</b></p>
            <p>Die obere Grenze bestimmt prozentual, wieviele Gitterzellen (bewohnten Gebiete) einer Gemeinde eine ausreichende Erreichbarkeit aufweisen müssen, damit die Gemeinde den Ampel-Score 'grün' erhält.</p>
            <p><b>untere Grenze</b></p>
            <p>Die untere Grenze bestimmt prozentual, wieviele Gitterzellen (bewohnte Gebiete) einer Gemeinde eine ausreichende Erreichbarkeit aufweisen müssen, damit die Gemeinde den Ampel-Score 'orange' erhält.</p>
          </mat-tab>
          <mat-tab label="Tabelle"> Content 3 </mat-tab>
        </mat-tab-group>
      </div>
  </div>
</div>



