#wrapper{
    position: relative;
    height:90vh;
    width: 95vw;
    top:30px;
    left:30px;
}

#legend{
  padding-left:10px;
  background-color: white;
  bottom:30px;
  position:absolute;
  left:30px;
  height:35%;
  width:20vw;
  z-index:1000;
}

#filter-wrapper{
    display: flex;
    z-index:1000;
    position:absolute;
    top: 30px;
    bottom: 30px;
    right:30px;
    flex-direction: row;
    justify-content: space-between;
}

.filter-element{
    padding-left:10px;
    width:28vw;
    height:100%;
    background-color:white;
    border: 1px solid black;
    overflow-y:scroll;
}

.legend-wrapper{
  display:flex;
  width:28vw;
  height:100%;
  flex-direction:column;
  justify-content:space-between;
}

.legend {
  background-color:white;
  height:33%;
}

#map {
    height: 90vh;
    width: 95vw;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
