#wrapper{
    position: relative;
    height:90vh;
    width: 95vw;
    top:30px;
    left:30px;
}

#filter-wrapper{
    display: flex;
    z-index:1000;
    position:absolute;
    top: 30px;
    bottom: 30px;
    right:30px;
    flex-direction: row;
    justify-content: space-between;
}

.filter-element{
    padding-left:10px;
    width:28vw;
    height:100%;
    background-color:white;
    border: 1px solid black;
    overflow-y:scroll;
}

table{
  width:100%;
}

.margin{
  margin-bottom:5px;
}

#map {
    height: 90vh;
    width: 95vw;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.download-button{
  margin: 5px;
  float:right;
}
