#wrapper{
    position: relative;
    height:90vh;
    width: 90vw;
    top:30px;
    left:30px;
}

#filter-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:1000;
    position:absolute;
    top: 30px;
    bottom: 30px;
    right:30px;
}

#filter-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-element{
    padding-left:10px;
    width:28vw;
    background-color:white;
    border: 1px solid black;
    overflow-y:scroll;
}

#map {
    height: 90vh;
    width: 90vw;
}
